{% extends "basic/form_basic.html" %}

{% block title %}
NEW PRODUCT CREATION PAGE 
{% endblock title %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/form_style.css' %}">
{% endblock style %}

{% block content %}
<div class="container mb-5">
    <div class="text-center">
        <h2>Lets Create a New Product</h2>
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Create PRODUCT</button>
    </form>
</div>
{% endblock %}